
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:Impact, sans-serif;
    background-image: url(../img/portada.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
   
}


/* logo */
.log{
   width: 90px;
   float: left;
   padding-top: 3px;
   
   
}
/*  */

/* barra de inicio */

header{
    background-image:url(../img/zenpat.png);
    height:6rem;
    margin: 0;
    padding: 0;
}
/* Discord link */
#disc{
    top: 35px;
    left: 80%;
    font-size: 20px;
    border-radius: 10px;
    position: absolute;
}
#disc:hover{
    background: rgba(193, 11, 199, 0.938);
    transition: .5s;
    border-radius: 20px;
}
/*  */

header div ul li{
   display: inline-block;
   line-height: 90px;
    margin: 0 7px;

}

header div ul li a{

color: rgb(0, 0, 0);
font-size: 20px;
padding: 10px 13px;
text-transform: uppercase;
text-decoration: none;

}

header div ul li a:hover{
    background: rgba(199, 111, 11, 0.938);
    transition: .5s;
    border-radius: 20px;
}


/* finaliza barra inicio */

/* barra de busqueda */
header form{
    position: absolute;
    top: 30px;
    left: 50%;
    }
    
    form div{
    display: flex;
    background: white;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid gray;
    }
    
    form input{
        border: none;
        background: transparent;
        font-weight: bold;
        padding-left: 24px;
        background-image: url(../img/search.png);
        background-size: 16px;
        background-repeat: no-repeat;
    }
    /* termina barra de busqueda */
    

    /* primer pilar*/
    main{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 3fr 3fr 3fr;
        min-height: 100vh;
        margin-left: 50px;
    }

   .contenedor{
        width: 100%;
        
    }
    .contenedor figure{
        position: relative;
        height:250px ;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;

    }

    .contenedor img{
        width: 100%;
        height: 100%;
        transition: all 500ms;
    }

    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        transition: all 500ms;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }

    .contenedor figure:hover .capa{
        opacity: 1;
        visibility: visible;
    }

    .contenedor figure:hover .capa h3{
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .contenedor figure .capa h3{
        color: rgb(238, 80, 106);
        font-weight: 400;
        margin-bottom: 100px;
        transition: all 500ms;
        margin-top: 30px;

    }

    .contenedor figure .capa p{
        color: black;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 800;
    }
   
    /* Pie de pagina */
footer{
    background-color: #0a141d;
    width: 100%;    
}

    
footer .grupo-1{

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .grupo-1 .box h2{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 30px;
}

footer .grupo-1 .box p{
    color:whitesmoke ;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 0,5;
}

footer .grupo-1 .red-social a:hover{
    color: rgb(43, 205, 226);
}

footer .grupo-2{
    padding: 15px 10px;
    text-align: center;
    background-color: #0a1a2a;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
/*  */