*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:Impact, sans-serif;
    background-image: url(../img/portada.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
}

