/* pagina las 12 lunas */

.conoce{
    @include padding(49%, 0%);
}

table{
    border: 3px solid $border-color;
    background-color: gray;
    width: 85%;
    margin: 5%;

    img{
        @include width(250px , 250px);
    }

    @media (max-width: 1024px) {
        img {
            @include width(100px , 100px);}
            }
    td{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    }
}
/* finaliza 12 lunas */